.login-button {
  background: var(--color-blue);
  padding: 16px;
}

.login-input {
  padding: 12px 8px;
  flex: 1;
  background: var(--color-gray);
  border-radius: var(--border-radius);
}
.login-input-container {
  display: flex;
  gap: 4px;
}
